@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';    
    background: #E5E5E5;      
}

.btn {
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    width: 665px;
    height: 1028px;
    margin: 0 auto;   
    background: #FFFFFF; 
}

.left-block {       
    background: #BDBDBD;
    padding: 35px 0 0 20px;   
    width: 25%;
}

.right-block {
    width: 75%;
    padding: 30px;     
 }

.btn-blue {
    border: 1px solid #4B51EF;
    background: #4B51EF;
    color: #FFFFFF;
}

.btn-blue:hover {
    border: 1px solid #4B51EF;
    background: #FFFFFF;
    color: #4B51EF;
}

.listTitle {
    font-weight: 700;
    margin-top: 0;
}